{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-11 col-xs-offset-1">
    {% block header %}{% endblock %}

    {% if next %}
    <form action="{{ request.path }}?next={{ next }}" method="POST">
    {% else %}
    <form action="" method="POST">
    {% endif %}
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-11">
            <span class="flash-errors">{{ field.errors|striptags }}</span>
          </div>
        </div>
        <div class="row">
          <label class="col-xs-1">{{ field.label_tag }}</label>
          <div class="col-xs-11">{{ field }}</div>
        </div>
      </div>
      {% endfor %}

      <div class="row">
        <div class="col-xs-offset-1 col-xs-11">
          {% block submit %}{% endblock %}
        </div>
      </div>
    </form>

  </div>
</div>
<br/>
{% endblock %}
