body {
  padding-top: 50px;
}

li {
  list-style: none;
}

/*#content {
  padding-top: 30px;
}*/

.right-side {
  float: right;
  width: 300px;
  min-height: 100%;
  text-align: center;
  border-left: thin solid #f3f3f3;
  padding-top: 30px;
}

.right-side button {
  /*margin: 0 auto;*/
}
