body {
  padding: 50px;
}

li {
  list-style: none;
}

.errors{
  color: red;
  animation-duration: 1500ms;
  animation-name: blink;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes blink {
  from {
    background-color: #ff9696;
  }
  to {
    background-color: inherit;
  }
}

.right-side {
  float: right;
  width: 300px;
  min-height: 100%;
  text-align: center;
  border-left: thin solid #f3f3f3;
  padding-top: 30px;
}

.right-side button {
  /*margin: 0 auto;*/
}

textarea.question {
  width: 500px;
  height: 100px;
}

.question-form {
  width: 600px;
  background-color: cornsilk;
  padding: 15px;
  border: thin solid #f3f3f3;
}
