body {
  padding: 40px;
  padding-top: 80px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

label {
  display: block;
  white-space: nowrap;
}

.answer {
  background-color: khaki;
  padding: 10px;
}

.ama-description {
  background-color: #fafafa;
  border: thin solid #369;
  border-radius: 7px;
  padding: 10px;
}

.ama-link {
  display: block;
  height: 70px;
  border: thin solid #999999;
  /*background-color: #f9ffff;*/
  padding: 10px;
}

.ama-link:hover {
  background-color: lemonchiffon;
}

.ama-list {
  display: block;
  padding: 0px;
}

.ama-list-item {
  display: inline-block;
  width: 100%;
  font-size: 24px;
}

.center-align {
  text-align: center;
}

.errorlist {
  color: red;
  animation-duration: 1500ms;
  animation-name: blinkred;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes blinkred {
  from {
    background-color: #ff9696;
  }
  to {
    background-color: inherit;
  }
}

.flash-success {
  padding: 0px 50px;
  color: green;
  animation-duration: 1500ms;
  animation-name: blinkgreen;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes blinkgreen {
  from {
    background-color: #00ff00;
  }
  to {
    background-color: inherit;
  }
}

.pagination {
  text-align:center
}

.right-side {
  height: 700px;
  text-align: center;
  border-left: 3px solid #d0d0d0;
  padding-top: 30px;
}

textarea.question {
  width: 500px;
  height: 100px;
}

.speech-form {
  width: 600px;
  background-color: cornsilk;
  padding: 15px;
  border: thin solid #f3f3f3;
}

.question {
  border-bottom: thin solid #999999;
  padding-bottom: 20px;
}

.question-author {
  margin-bottom: 10px;
}

.questions-header {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: thin dashed black;
  margin-bottom: 40px;
}

.questions-list {
  padding: 0px;
  padding-top: 20px;
}

.question-text {
  padding-bottom: 10px;
}
